extends settings/layout

prepend html
  - const lang = "ru";

prepend head
  - const pageTitle = "";
  - const themeColor = "#ffffff";

append head

append content
  include components/promo

append scripts
  //- script(src="https://179523.selcdn.ru/public/prod-scripts/cis_footer.js")
  //- script(defer src="https://179523.selcdn.ru/public/delivery-banner/banner.js")
