section.promo.block
  .container
        header.custom-bg
            .row.justify-content-between 
                .col-auto
                    button.btn.btn-primary.btn-lg(type="button", disabled) Магазин
                .col-auto
                    a.btn.btn-secondary.btn-lg(href="https://t.me/getmanua1", target="_blank") Написати в підтримку
        br
        .custom-bg
            .row.align-items-center.justify-content-center.gy-4  
                .col-6.col-md-4.col-xl-2 
                    img.img-fluid.rounded-circle.border(src="img/targetolog.jpg", alt="")
                .col-12.col-md-8.col-xl-10
                    h2.text-gradient Таргетована реклама, яка продає
                    p Запускаю ефективну рекламу в Instagram та Facebook для малого й середнього бізнесу. Без води — лише результат.
                    h6.text-gradient Кому буде корисно
                    ul
                        li Малому бізнесу, який хоче збільшити продажі
                        li Онлайн-школам та експертам, що просувають курси
                        li Тим, хто запускає новий продукт або послугу
        br
        h3.text-center Послуги
        .row.gy-4 
            .col-6.col-lg-3 
                .service.custom-bg 
                    h6.service__title.text-gradient Аудит реклами
                    p.service__description перевірка наявних кампаній та рекомендації щодо покращення.
            .col-6.col-lg-3 
                .service.custom-bg 
                    h6.service__title.text-gradient Створення рекламних кампаній
                    p.service__description від підбору аудиторії до креативів і запуску.
            .col-6.col-lg-3 
                .service.custom-bg 
                    h6.service__title.text-gradient Ведення реклами
                    p.service__description щоденний моніторинг, оптимізація та звітність.
            .col-6.col-lg-3 
                .service.custom-bg 
                    h6.service__title.text-gradient Консультації
                    p.service__description відповіді на всі питання, навчання та супровід.
        br
        h3.text-center Контакти
        .row.justify-content-center.gy-4  
            .col-auto
                div 📞 
                    a(href="tel:+380931234567") +38 (093) 123 45 67
            .col-auto
                div 📩 
                    a(href="mailto:target@example.com") target@example.com
            .col-auto
                div 📷 
                    a(href="https://instagram.com/targetologist" target="_blank") @targetologist

