$first:#8ef6e4; 
$second: #9896f1; 
$third: #d59bf6; 
$fourth:  #edb1f1; 

$gradient: linear-gradient(45deg, #9896f1 0%, #edb1f1 100%);
$text-gradient: linear-gradient(45deg, #8ef6e4 0%, #d59bf6 100%);